$input-color: $white-ter;
$input-background-color: $grey-dark;
$input-border-color: transparent;
$input-shadow: none;
$input-placeholder-color: $text;

$input-hover-color: $white-ter;
$input-hover-border-color: transparent;

$input-focus-color: $white-ter;
$input-focus-border-color: transparent;
$input-focus-box-shadow-size: none;
$input-focus-box-shadow-color: none;

$input-disabled-color: $grey-dark;
$input-disabled-border-color: transparent;
$input-disabled-background-color: $black-bis;
$input-disabled-placeholder-color: $text;

$input-arrow: $white-ter;

$input-icon-color: $text;
$input-icon-active-color: $white-ter;

$input-radius: $radius;

.control:not(:last-child) {
  margin-right: 1px !important;
}

.input {
  font-weight: $weight-normal;
}
