/config
/database
/node_modules
/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
