$card-color: $text;
$card-background-color: transparent;
$card-shadow: none;

$card-header-background-color: transparent;
$card-header-color: $text;
$card-header-padding: 1rem 0;
$card-header-shadow: none;
$card-header-weight: $weight-normal;

$card-content-background-color: transparent;
$card-content-padding: 1rem 0;

$card-footer-background-color: transparent;
$card-footer-border-top: 1px solid $border;
$card-footer-padding: 0.75rem;

$card-media-margin: 0;
