$dropdown-menu-min-width: 12rem;

$dropdown-content-background-color: $black-ter;
$dropdown-content-arrow: $text;
$dropdown-content-radius: $radius;

$dropdown-item-color: $text;
$dropdown-item-hover-color: $text;
$dropdown-item-hover-background-color: transparent;
$dropdown-item-active-color: $primary;
$dropdown-item-active-background-color: $black-bis;

$dropdown-divider-background-color: $border;

.dropdown-item,
.dropdown-menu .has-link a {
  font-size: $size-normal !important;
  padding: 0.75rem 3rem 0.75rem 1.5rem !important;
}

.dropdown-content {
  max-height: 300px;
  overflow-y: auto;
}
