.level-item {
  @include from($tablet) {
    .button.is-text {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .button.is-text:first-child {
      padding-left: 0 !important;
    }
  }
}
