$title-color: $text;
$title-family: $family-primary;
$title-size: $size-normal;
$title-weight: $weight-medium;
$title-line-height: 1.3;

$subtitle-color: $grey-lighter;
$subtitle-family: $family-primary;
$subtitle-size: $size-small;
$subtitle-weight: $weight-normal;
$subtitle-line-height: 1.3;
