$card-color: $text;
$card-background-color: transparent;
$card-shadow: none;

$card-content-background-color: transparent;
$card-content-padding: 1rem 0;

.card-image {
  height: 192px;

  .image {
    height: 192px;

    img,
    video {
      height: 192px;
      object-fit: fill;
      width: 100%;
      border-radius: $radius;
    }
  }
}

.card-content a {
  color: inherit;
}
