$navbar-background-color: $black-ter;
$navbar-height: 4.95rem;
$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 0;

$navbar-item-color: $text;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: transparent;

$navbar-dropdown-background-color: $white;
$navbar-dropdown-border-top: 0;
$navbar-dropdown-arrow: $text;
$navbar-dropdown-radius: 0;

$navbar-dropdown-item-active-color: $white;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-hover-background-color: $light;

$navbar-breakpoint: $desktop;

html.has-navbar-fixed-top {
  padding-top: 0 !important;
}

.navbar {
  .container {
    .navbar-brand,
    .navbar-end {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  @include from($navbar-breakpoint) {
    .container {
      .navbar-brand {
        margin-left: -1rem;
      }

      .navbar-menu {
        margin-right: -1rem;
      }
    }
  }

  .navbar-touch {
    margin-left: auto;
  }

  .navbar-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-link {
    padding-left: 0;
    padding-right: 0;
  }

  .divider {
    background-color: $border;
    padding-left: 0;
    padding-right: 0;
    margin: 1.65rem 1rem;
    width: 1px;
  }

  .navbar-search {
    padding-right: 0;
  }
}
