$pagination-color: $text;
$pagination-border-color: $border;
$pagination-margin: 1rem -0.25rem;

$pagination-item-font-size: $size-normal;
$pagination-item-margin: 0.25rem;
$pagination-item-padding-left: 0.5rem;
$pagination-item-padding-right: 0.5rem;

$pagination-ellipsis-color: $text;

$pagination-shadow-inset: none;
