.items {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .card-content a {
    color: inherit;
  }

  .card-image {
    .image {
      max-height: 192px;

      img,
      video {
        max-height: 192px;
        object-fit: fill;
        width: 100%;
        border-radius: $radius;
      }
    }
  }
}
