.items {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .card-content a {
    color: inherit;
  }

  .card-image {
    .image {
      min-height: 128px;
      max-height: 192px;

      img,
      video {
        min-height: 128px;
        max-height: 192px;
        object-fit: fill;
        height: 100%;
        width: 100%;
        border-radius: $radius;
      }
    }
  }

  .card-letter {
    .card-content {
      padding: 0.25rem 0;
    }

    .media-left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
    }
  }
}
