.media-info {
  margin-top: -0.75rem;

  .media-subscribe {
    border-top: 1px solid $border;
    padding: 1rem 0;
  }

  .media-description {
    border-bottom: 1px solid $border;

    p {
      padding-bottom: 1rem;
    }
  }
}
