.player {
  background: #000;
  position: relative;
  overflow: hidden;

  video {
    display: block;
    margin: 0 auto;
    object-fit: fill;
  }

  .controls {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.75rem 1.5rem;
    margin: 0 auto;
    max-width: 1152px;

    .b-slider {
      margin: 0.75rem 0;

      .b-slider-track {
        height: 0.4rem;
        background: transparent;
      }
    }
  }

  .tooltip {
    position: relative;
    height: 100px;
    width: 160px;
    flex-wrap: wrap;
    justify-content: center;

    span {
      align-self: flex-end;
      padding: 0.25rem 0.5rem;
    }
  }
}

.player.is-responsive {
  video {
    max-width: 1152px;
    min-height: 480px;
    max-height: 640px;

    @include until($widescreen) {
      max-width: $widescreen;
    }

    @include until($desktop) {
      max-width: $desktop;
      max-height: 480px;
    }

    @include until($tablet) {
      max-width: 100%;
      min-height: 240px;
      max-height: 240px;
    }
  }
}

.player.is-fullscreen {
  video {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
    min-height: 100% !important;
    max-height: 100% !important;
    max-width: 100% !important;
  }

  .controls {
    max-width: 100% !important;
  }
}
