$section-padding: 1rem 2rem;
$section-padding-medium: 2rem 2rem;
$section-padding-large: 4rem 2rem;

.section.is-medium {
  padding: $section-padding-medium;
}

.section.is-large {
  padding: $section-padding-large;
}
