$scheme-main: $black-bis;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;

$background: $scheme-main;

$border: $grey-dark;
$border-hover: $grey;

$text: $grey-lightest;
$text-light: $grey-lighter;
$text-strong: $grey;

$link: $text-light;
$link-visited: $text;

$link-hover: $white-ter;
$link-hover-border: $border-hover;

$link-focus: $text-light;
$link-focus-border: $border;

$link-active: $white-ter;
$link-active-border: $border;

$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
$family-code: $family-monospace;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 $size-9;

$size-small: $size-8;
$size-normal: $size-7;
$size-medium: $size-6;
$size-large: $size-5;
