.search {
  form {
    .label {
      color: $white-ter;
    }

    .input {
      padding: 0.25rem 0;
      border: 0;
      border-bottom: 2px solid $grey-light;
      background: none;
      border-radius: 0;
      color: $white-ter;
    }
  }

  .hero-body {
    padding: 0 0 1rem;
  }
}
