.next {
  min-width: 375px;
  max-width: 375px;

  @include until($desktop) {
    min-width: 295px;
    max-width: 295px;
  }

  @include until($tablet) {
    min-width: 100%;
    max-width: 100%;
  }

  section {
    margin-bottom: 3rem;
  }
}
